.img1 {
    background-color: rgb(255, 208, 0);
    width: 20px;
}
header nav {
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 60px; 
    z-index: 50;
    box-shadow: 1px 1px 4px #ddd;


}
header nav li  {
float: left;
padding: 15px;
margin-top: 5px;
}
header nav li a  {
 text-decoration: none;
}
#li {
    margin-left: 70px;
}
#li1 {
    padding-top: 17px;
    padding-left: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    color: rgb(20, 20, 20);
    
}
#li1 a {

    color: rgb(20, 20, 20);
    
}
#li2 {
    margin-left:64%;
}
#li2 a {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    color: rgba(20, 20, 20, 0.842);
    font-size: 16px;
}
#li3 {
    border: 2px solid rgba(20, 20, 20, 0.733);
    border-radius: 8px;
    padding: 8px;
    margin-top: 12px;

}
#li3 img{
   color:  rgb(20, 20, 20);
   width: 18px;
   margin-bottom: -4px;
}
#li3 a {
    font-family: 'Cantarell', sans-serif;
    font-weight: bolder;
    color: rgb(20, 20, 20);
    font-size: 16px;
    padding: 10px;

}


#sideNav {
    height: 100%; 
    width: 60px; 
    position: fixed; 
    top: 59px; 
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; 
    padding-top: 20px;
    z-index: 40;
    box-shadow: 0 0px 0px 0px white, 0 -50px 0px 0px white, 1px 0 15px -4px #ddd, -12px 0 15px -4px #ddd;
}
#firstA {
    display: block;
}
#sideNav img{
    width: 20px; 
    padding: 8px 12px;
    margin-left: 8px;
  }
#lastimg {
    border-bottom: 1px solid #ddd;
  }

#art1 {
    width: 70%;
    height: 400px;
    background-color: rgb(255, 208, 0);
    margin-top: 10%;
    float: right;
}
#art1 p {
    font-family: 'Cantarell', sans-serif;
    color: rgb(20, 20, 20);
    padding: 10px;
    line-height: 1.3;
    padding: 20px 20px;
    font-weight: bold;
    padding-left: 50px;
    width: 70%;
    opacity:.9 ;
}
#art1 span {
    font-family: 'Cantarell', sans-serif;
    color: rgb(20, 20, 20);
    padding: 10px;
    line-height: 1.3;
    font-weight: bold;
    padding-left: 50px;
    font-size: 20px;
    opacity:.9 ;

    
}

#art1 h1 {
    font-family: 'Cantarell', sans-serif;
    color: rgb(20, 20, 20);
    padding: 10px;
    line-height: 1.3;
    padding: 20px 20px;
    font-weight: bold;
    padding-left: 50px;
    font-size: 35px;
    opacity:.85 ;
}
.art1  span{
    font-weight: bold;
    border-bottom: 1px solid rgb(100, 95, 95);
    padding-bottom:5px ;
    
}

#art2 {
    margin-left: 14%;
    clear: both;

}
.art1 {
    
    margin-left: 3%;
    margin-top: 10%;
    border-radius: 5px;
    width: 20%;
    box-shadow: 2px 2px 8px rgb(212, 212, 212);
    padding: 60px 20px;
    height: 200px;
    opacity: .9;
    float: left;
    
}
.art1 p{
    font-family: 'Cantarell', sans-serif;
    color: rgb(20, 20, 20);
    padding: 10px;
    line-height: 1.3;
    padding: 20px 20px;
    
}
form {
    clear: both;
    width: 70%;
    margin-left: 16%;
}
form fieldset{
    border: 2px solid rgb(255, 208, 0);
    height: 600px;
    border-radius: 5px;

}
form legend{
   margin-left: 10%;
   font-family: 'Pacifico', cursive;
   font-size: 19px;
   color: rgba(20, 20, 20, 0.918);

}
.s1 {
    float: left;
    margin-top: 2%;
    margin-left: 7%;
    
}
.input {
    width: 350px;
    height: 50px;
    border: 1px solid #ddd;
    padding-left: 5px;
    color: rgb(85, 81, 81);
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
}
form label {
    color: rgb(20, 20, 20);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
}

#s1 {
    clear: both;
    display: block;
    padding-top: 50px;
    margin-left: 35%;

}
.s2 {
    margin-left: 35%;
    display: block;

}
.s2 label , #s1 label{
    display: block;
    width: 40%;
    text-align: center;
    padding: 5px;
}

#submit{
    clear: both;
    float: left;
    width: 150px;
    height: 40px;
    margin-left: 41%;
    border: none;
    background-color: rgb(255, 208, 0);
    color: rgb(32, 31, 31);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
}
#submit:hover{
    clear: both;
    float: left;
    width: 150px;
    height: 40px;
    margin-left: 41%;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.986);
    color: rgb(105, 105, 3);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
}

.input2 {
    width: 250px;
    height: 30px;
    border: 1px solid #ddd;
    color: rgb(53, 49, 49);
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    text-align: center;
}

.s3 {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
}


#hotel {
    width: 22px;
}

#searchResult {
    margin-top: 5%;
    height: 450px;   
    width : 100%;

}

#searchResult ul {
    margin-top: 5%;
    height: 400px;
    margin-left: 27%;
    width:45%;

}

#searchResult ul li{
    color: rgb(25, 25, 59);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    margin-top: 3%;
    text-align: center;
    margin-left: 54%;
    
}

#searchResult img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    filter: grayscale(20%);
    float: left;
}
#first {
   font-family: 'Pacifico', cursive  !important;
   font-size: 19px !important;
   color:  rgb(40, 40, 82) !important;
   padding-top: 50px;
  
}
#details {
    clear: both;
    text-align: center;
}
#submit3  {
    margin-top: 5%;
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(40, 40, 82);
    color: white;
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    margin-left: 15%;

}

#submit3:hover {

    margin-top: 5%;
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(193, 193, 240);
    color: rgb(40, 40, 82);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    margin-left: 15%;


}

#details {
    width: 70%;
    margin-left: 16%;
    border: 2px solid rgba(40, 40, 82, 0.041);
    border-radius: 5px;
    height:  350px;
    margin-top: 30%;
    background-color:rgba(40, 40, 82, 0.048) ;


}
#details li {
    margin-top: .3%;
    margin-left: 3%;
    color: rgb(25, 25, 59);
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 8px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(195, 195, 202, 0.178);
    border-radius: 4px;
    background-color: white;
    width: 39%;
    height: 35px;
}

#liEl2::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/summer1.png);
 }
 #liEl3::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/wifi1.png);
 }
 #liEl4::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/dumbbell1.png);
 }
 #liEl5::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/swimming-pool1.png);
 }
 #liEl6::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/hotel-sign.png);
 }

#liEl1 {
    margin-top: 1.5% !important;
}

#liEl7 {
    float: right !important;
    font-family: 'Pacifico', cursive  !important;
    background-color:transparent  !important;
    font-size: 19px !important;
    margin-top: -25% !important;
    margin-right: 30px !important;

}

#facebook {
    margin-top: -15% !important;
    float: right ;
    margin-right: 18% !important;


}

#instagram {
    margin-top: -15% !important;
    float: right ;
    margin-right: 22% !important;


}
#twitter {
    margin-top: -15% !important;
    float: right ;
    margin-right: 26% !important;


}
#pinterest {
    margin-top: -15% !important;
    float: right ;
    margin-right: 30% !important;


}